DataStructures/obj/DataStructures.csproj.nuget.dgspec.json
DataStructures/obj/DataStructures.csproj.nuget.g.props
DataStructures/obj/DataStructures.csproj.nuget.g.targets
DataStructures/obj/project.assets.json
DataStructures/obj/project.nuget.cache
DataStructures/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DataStructures/obj/Debug/net5.0/DataStructures.AssemblyInfoInputs.cache
DataStructures/obj/Debug/net5.0/DataStructures.assets.cache
DataStructures/obj/Debug/net5.0/DataStructures.csproj.AssemblyReference.cache
DataStructures/obj/Debug/net5.0/DataStructures.GeneratedMSBuildEditorConfig.editorconfig
DataStructures/obj/Debug/net5.0/DataStructures.AssemblyInfo.cs
